/*Yehezkiel David Setiawan
    2172003
*/

table{
    border-style: dotted;
}
.satu{
    border-style: dotted;

}
#dua{
    background-color: #87CEEB;
    height: 300px;
    width: 300px;
    border-radius: 100%;
}
#tiga{
    width:300px;
    height: 100px;
    background-color: #800080;
}
#empat{
    width: 300px;
    height: 150px;
    background-color: #808080;
}
#lima{
    width:250px;
    height: 100px;
    background-color: #FFC0CB;
    border-radius: 60px;

}
