/* Cristianto Tri Arthurito*/
/* 2172027 */

.img1{
    filter: brightness(40%);
}

.warna1{
    color: cyan;
}

.warna2{
    color: purple;
}

.border{
    border-style: inset;
    border-width: 10px;
    border-color: cyan;
}

td:hover img{
    filter: brightness(100%);
}
